[package]
edition = "2024"
name    = "firefly-client"
publish = false
version = "0.1.0"

[lib]

[dependencies]
anyhow                = { version = "1.0" }
askama                = { version = "0.14" }
backon                = { version = "1.6" }
base64                = { version = "0.22" }
blake2                = { version = "0.10" }
bon                   = { version = "3.8" }
bs58                  = { version = "0.5" }
chrono                = { version = "0.4" }
crc                   = { version = "3.3" }
dashmap               = { version = "6.1" }
derive_more           = { version = "2.0", features = ["full"] }
digest                = { version = "0.10" }
firefly-client-macros = { path = "../firefly-client-macros" }
futures               = { version = "0.3" }
hex                   = { version = "0.4" }
prost                 = { version = "0.14" }
reqwest               = { version = "0.12", default-features = false, features = ["charset", "http2", "json", "rustls-tls", "system-proxy"] }
scopeguard            = { version = "1.2" }
secp256k1             = { version = "0.31", features = ["hashes", "serde"] }
serde                 = { version = "1.0", features = ["derive"] }
serde_json            = { version = "1.0" }
sha3                  = { version = "0.10" }
thiserror             = { version = "2.0" }
tokio                 = { version = "1.48" }
tokio-stream          = { version = "0.1", features = ["sync"] }
tokio-tungstenite     = { version = "0.28" }
tonic                 = { version = "0.14" }
tonic-prost           = { version = "0.14" }
tracing               = { version = "0.1" }
uuid                  = { version = "1.18", features = ["v7"] }
zbase32               = { version = "0.1" }

[build-dependencies]
tonic-prost-build = { version = "0.14" }

[lints.clippy]
cast_possible_wrap    = "allow"
cast_sign_loss        = "allow"
default_trait_access  = "allow"
ignored_unit_patterns = "allow"
implicit_hasher       = "allow"
match_same_arms       = "allow"
missing_errors_doc    = "allow"
must_use_candidate    = "allow"
needless_for_each     = "allow"
too_many_lines        = "allow"

[lints.clippy.pedantic]
level    = "warn"
priority = -1

[lints.clippy.nursery]
level    = "warn"
priority = -1
